h1{
    text-align: center;
    margin: 40px;
}

.row1{
    max-width: 700px;
    margin-left: 30rem;
    margin-top: 5rem;
}
.row2{
    max-width: 700px;
    margin-left: 30rem;
    margin-top: 1rem;
}
.operator{
    margin-left: -10px;
    font-size: 25px;
    padding: 10px 25px;
    background-color: #f0d480;
    color: white;
    border: none;
}

.operator:hover, button:hover{
    border: 1px solid orange;
    background-color: white;
    color: black;
}

button{
    font-size: 25px;
    padding: 10px 50px;
    background-color: #f0d480;
    color: white;
    border: none;
    margin-left: 25px;
}